
   

  <section id="feed-posts">
      <h4>posts</h4>
        <form action="/posts/create" id="new-post-form " method="POST">
           <textarea name="content" cols="30" rows="3" placeholder="Type here..."> </textarea>
            <input type="submit" value="Post">
        </form>
      
        <div id="posts-list-container">
          <ul>
              <% for(post of posts){ %>
                  
              <li>
                 
                      <%= post.Content %>
                       <input type="button" value="Remove">
                   <small> <%-post.user.name%></small>


                   <div class="comment-post">
                    <% if (locals.user) {%>
                    <form action="/comments/create" method="post">
                        <input type="text" name="comments" placeholder="comments"> 
                        <input type="hidden" name="post" value="<%= post._id %>" >
                        <input type="submit" placeholder="comment" value="comments">   
                       </form> 
                       <%}%>
                       <div class="post-comments-list">
                        <ul id="posts-comments <%=post._id%>">
                           <% for(comments of post.comments) {%>
                            
                            <p>
                                <%=comments.comments%>
                            </p>
                            <small><%-comments.user.name%></small>
                            <%}%>
                        </ul>
                       </div>
                   </div>
                  
                     
              </li>
                  
              <%} %>
          </ul>
      </div>
  </section>  